# config/routes.yaml

controllers:
    resource: 
        path: ../src/Controller/
        namespace: App\Controller
    type: attribute

# Optionnel : si tu veux une page d'accueil, tu peux aussi l'ajouter ici ou en attribut